<html>
  <head>
    <title></title>
  </head>
  <body>
    <% @articles.each do |article| %>

      <%= link_to article.headline, article_path(article) %>
      <%= article.headline %>
      <br>
      <%= article.byline %>
      <br>
      <%= article.content %>
      <br>
      <%= image_tag article.photo_url %>
      <br>
    <% end %>
  </body>
</html>
